# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --------------------
# 가상환경
# --------------------
venv/
.env

# --------------------
# IDE
# --------------------
.idea/
*.iml

# --------------------
# 벡터 저장소
# --------------------
storage/